<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Yantramanav:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/src/output.css">
    <link rel="stylesheet" href="/src/compiled.css">
</head>

<body class="min-h-screen flex flex-col">
<header-component></header-component>

<main class="max-w-2xl lg:max-w-7xl mx-auto space-y-20 py-10  px-4 sm:px-6 lg:px-8 relative z-0 grow flex items-center justify-center">
    <div class="w-full">
        <h1 class="text-6xl font-extrabold uppercase">Shopping Cart</h1>
        <form class="ky cva cyq cze czt dkw">
            <section aria-labelledby="cart-heading" class="csb"><h2 id="cart-heading" class="t">Items in your shopping
                cart</h2>
                <ul role="list" class="acc acg aff afm afu">
                    <li class="lx ase cfg">
                        <div class="up"><img
                                src="https://tailwindui.com/img/ecommerce-images/shopping-cart-page-01-product-01.jpg"
                                alt="Front of men's Basic Tee in sienna." class="nq rr adu aqe aqf byf bzb"></div>
                        <div class="jx lx um yr zf bwl">
                            <div class="ab auj bxu cat cbz cgp">
                                <div>
                                    <div class="lx zf"><h3 class="awa"><a href="#" class="awe axt bla">Basic Tee</a>
                                    </h3></div>
                                    <div class="ku lx awa"><p class="axr">Sienna</p>
                                        <p class="jx afi afu atn axr">Large</p></div>
                                    <p class="ku awa awe axv">$32.00</p></div>
                                <div class="lh bwv cgy"><label for="quantity-0" class="t">Quantity, Basic
                                    Tee</label><select id="quantity-0" name="quantity-0"
                                                       class="ub adu aez afv arq avk avy awe awo axt bbn bml bmz bnd bnq cid">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                </select>
                                    <div class="aa de dn">
                                        <button type="button" class="fs ly aqq axp bkx"><span class="t">Remove</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                 fill="currentColor" aria-hidden="true" class="nz sb">
                                                <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <p class="lh lx abg awa axt">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                     aria-hidden="true" class="nz sb up axx">
                                    <path fill-rule="evenodd"
                                          d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                          clip-rule="evenodd"></path>
                                </svg>
                                <span>In stock</span></p>
                        </div>
                    </li>
                    <li class="lx ase cfg">
                        <div class="up"><img
                                src="https://tailwindui.com/img/ecommerce-images/shopping-cart-page-01-product-02.jpg"
                                alt="Front of men's Basic Tee in black." class="nq rr adu aqe aqf byf bzb"></div>
                        <div class="jx lx um yr zf bwl">
                            <div class="ab auj bxu cat cbz cgp">
                                <div>
                                    <div class="lx zf"><h3 class="awa"><a href="#" class="awe axt bla">Basic Tee</a>
                                    </h3></div>
                                    <div class="ku lx awa"><p class="axr">Black</p>
                                        <p class="jx afi afu atn axr">Large</p></div>
                                    <p class="ku awa awe axv">$32.00</p></div>
                                <div class="lh bwv cgy"><label for="quantity-1" class="t">Quantity, Basic
                                    Tee</label><select id="quantity-1" name="quantity-1"
                                                       class="ub adu aez afv arq avk avy awe awo axt bbn bml bmz bnd bnq cid">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                </select>
                                    <div class="aa de dn">
                                        <button type="button" class="fs ly aqq axp bkx"><span class="t">Remove</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                 fill="currentColor" aria-hidden="true" class="nz sb">
                                                <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <p class="lh lx abg awa axt">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                     aria-hidden="true" class="nz sb up axo">
                                    <path fill-rule="evenodd"
                                          d="M10 18a8 8 0 100-16 8 8 0 000 16zm.75-13a.75.75 0 00-1.5 0v5c0 .414.336.75.75.75h4a.75.75 0 000-1.5h-3.25V5z"
                                          clip-rule="evenodd"></path>
                                </svg>
                                <span>Ships in 3–4 weeks</span></p>
                        </div>
                    </li>
                    <li class="lx ase cfg">
                        <div class="up"><img
                                src="https://tailwindui.com/img/ecommerce-images/shopping-cart-page-01-product-03.jpg"
                                alt="Insulated bottle with white base and black snap lid."
                                class="nq rr adu aqe aqf byf bzb"></div>
                        <div class="jx lx um yr zf bwl">
                            <div class="ab auj bxu cat cbz cgp">
                                <div>
                                    <div class="lx zf"><h3 class="awa"><a href="#" class="awe axt bla">Nomad Tumbler</a>
                                    </h3></div>
                                    <div class="ku lx awa"><p class="axr">White</p></div>
                                    <p class="ku awa awe axv">$35.00</p></div>
                                <div class="lh bwv cgy"><label for="quantity-2" class="t">Quantity, Nomad
                                    Tumbler</label><select id="quantity-2" name="quantity-2"
                                                           class="ub adu aez afv arq avk avy awe awo axt bbn bml bmz bnd bnq cid">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                </select>
                                    <div class="aa de dn">
                                        <button type="button" class="fs ly aqq axp bkx"><span class="t">Remove</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                 fill="currentColor" aria-hidden="true" class="nz sb">
                                                <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <p class="lh lx abg awa axt">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                     aria-hidden="true" class="nz sb up axx">
                                    <path fill-rule="evenodd"
                                          d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                          clip-rule="evenodd"></path>
                                </svg>
                                <span>In stock</span></p>
                        </div>
                    </li>
                </ul>
            </section>
            <section aria-labelledby="summary-heading" class="la adt aiq ari ase ceq crz cui dcz"><h2
                    id="summary-heading" class="avz awe axv">Order summary</h2>
                <dl class="lk abw">
                    <div class="lx yz zf">
                        <dt class="awa axs">Subtotal</dt>
                        <dd class="awa awe axv">$99.00</dd>
                    </div>
                    <div class="lx yz zf afm afu avb">
                        <dt class="lx yz awa axs"><span>Shipping estimate</span><a href="#" class="jt up axp bkx"><span
                                class="t">Learn more about how shipping is calculated</span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                 aria-hidden="true" class="nz sb">
                                <path fill-rule="evenodd"
                                      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM8.94 6.94a.75.75 0 11-1.061-1.061 3 3 0 112.871 5.026v.345a.75.75 0 01-1.5 0v-.5c0-.72.57-1.172 1.081-1.287A1.5 1.5 0 108.94 6.94zM10 15a1 1 0 100-2 1 1 0 000 2z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </a></dt>
                        <dd class="awa awe axv">$5.00</dd>
                    </div>
                    <div class="lx yz zf afm afu avb">
                        <dt class="lx awa axs"><span>Tax estimate</span><a href="#" class="jt up axp bkx"><span
                                class="t">Learn more about how tax is calculated</span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                 aria-hidden="true" class="nz sb">
                                <path fill-rule="evenodd"
                                      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM8.94 6.94a.75.75 0 11-1.061-1.061 3 3 0 112.871 5.026v.345a.75.75 0 01-1.5 0v-.5c0-.72.57-1.172 1.081-1.287A1.5 1.5 0 108.94 6.94zM10 15a1 1 0 100-2 1 1 0 000 2z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </a></dt>
                        <dd class="awa awe axv">$8.32</dd>
                    </div>
                    <div class="lx yz zf afm afu avb">
                        <dt class="avy awe axv">Order total</dt>
                        <dd class="avy awe axv">$112.32</dd>
                    </div>
                </dl>
                <div class="lk">
                    <button type="submit" class="tn adu aez agy ajr ari arz avy awe bah bbn biv bmz bne bnq bog bok">
                        Checkout
                    </button>
                </div>
            </section>
        </form>
        <section aria-labelledby="related-heading" class="le"><h2 id="related-heading" class="avz awe axv">You may also
            like…</h2>
            <div class="lk mb yg aai aal cat cyt dla">
                <div class="bqg ab">
                    <div class="b i tn adg adu bga bsd cvp"><img
                            src="https://tailwindui.com/img/ecommerce-images/shopping-cart-page-01-related-product-01.jpg"
                            alt="Front of Billfold Wallet in natural leather." class="ph tn aqe aqf cvz cwz"></div>
                    <div class="lh lx zf">
                        <div><h3 class="awa axt"><a href="#"><span aria-hidden="true" class="aa ak"></span>Billfold
                            Wallet</a></h3>
                            <p class="ku awa axr">Natural</p></div>
                        <p class="awa awe axv">$118</p></div>
                </div>
                <div class="bqg ab">
                    <div class="b i tn adg adu bga bsd cvp"><img
                            src="https://tailwindui.com/img/ecommerce-images/shopping-cart-page-01-related-product-02.jpg"
                            alt="Black machined pen and pencil with hexagonal shaft and small white logo."
                            class="ph tn aqe aqf cvz cwz"></div>
                    <div class="lh lx zf">
                        <div><h3 class="awa axt"><a href="#"><span aria-hidden="true" class="aa ak"></span>Machined Pen
                            and Pencil Set</a></h3>
                            <p class="ku awa axr">Black</p></div>
                        <p class="awa awe axv">$70</p></div>
                </div>
                <div class="bqg ab">
                    <div class="b i tn adg adu bga bsd cvp"><img
                            src="https://tailwindui.com/img/ecommerce-images/shopping-cart-page-01-related-product-03.jpg"
                            alt="Three mini sketchbooks with tan and charcoal typography poster covers."
                            class="ph tn aqe aqf cvz cwz"></div>
                    <div class="lh lx zf">
                        <div><h3 class="awa axt"><a href="#"><span aria-hidden="true" class="aa ak"></span>Mini
                            Sketchbook Set</a></h3>
                            <p class="ku awa axr">Tan and Charcoal</p></div>
                        <p class="awa awe axv">$28</p></div>
                </div>
                <div class="bqg ab">
                    <div class="b i tn adg adu bga bsd cvp"><img
                            src="https://tailwindui.com/img/ecommerce-images/shopping-cart-page-01-related-product-04.jpg"
                            alt="Grooved walnut desk organizer base with five modular white plastic organizer trays."
                            class="ph tn aqe aqf cvz cwz"></div>
                    <div class="lh lx zf">
                        <div><h3 class="awa axt"><a href="#"><span aria-hidden="true" class="aa ak"></span>Organize Set</a>
                        </h3>
                            <p class="ku awa axr">Walnut</p></div>
                        <p class="awa awe axv">$149</p></div>
                </div>
            </div>
        </section>
        <section aria-labelledby="policies-heading" class="le afm afu">
            <h2 id="policies-heading" class="t">Our
            policies</h2>
            <div class="gx ua ary cfm ">
                <div class="mb yg aam cat cbz cyt czz daa">
                    <div class="avl clh cmz cpm cuw dfu">
                        <div class="cmh">
                            <div class="ma"><img class="gh gx nq tm"
                                                 src="https://tailwindui.com/img/ecommerce/icons/icon-returns-light.svg"
                                                 alt=""></div>
                        </div>
                        <div class="lk ckr ckv ctx cut"><h3 class="avy awe axv">Free returns</h3>
                            <p class="lf awa axr">Not what you expected? Place it back in the parcel and attach the
                                pre-paid postage stamp.</p></div>
                    </div>
                    <div class="avl clh cmz cpm cuw dfu">
                        <div class="cmh">
                            <div class="ma"><img class="gh gx nq tm"
                                                 src="https://tailwindui.com/img/ecommerce/icons/icon-calendar-light.svg"
                                                 alt=""></div>
                        </div>
                        <div class="lk ckr ckv ctx cut"><h3 class="avy awe axv">Same day delivery</h3>
                            <p class="lf awa axr">We offer a delivery service that has never been done before. Checkout
                                today and receive your products within hours.</p></div>
                    </div>
                    <div class="avl clh cmz cpm cuw dfu">
                        <div class="cmh">
                            <div class="ma"><img class="gh gx nq tm"
                                                 src="https://tailwindui.com/img/ecommerce/icons/icon-gift-card-light.svg"
                                                 alt=""></div>
                        </div>
                        <div class="lk ckr ckv ctx cut"><h3 class="avy awe axv">All year discount</h3>
                            <p class="lf awa axr">Looking for a deal? You can use the code "ALLYEAR" at checkout and get
                                money off all year round.</p></div>
                    </div>
                    <div class="avl clh cmz cpm cuw dfu">
                        <div class="cmh">
                            <div class="ma"><img class="gh gx nq tm"
                                                 src="https://tailwindui.com/img/ecommerce/icons/icon-planet-light.svg"
                                                 alt=""></div>
                        </div>
                        <div class="lk ckr ckv ctx cut"><h3 class="avy awe axv">For the planet</h3>
                            <p class="lf awa axr">We’ve pledged 1% of sales to the preservation and restoration of the
                                natural environment.</p></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<footer-component></footer-component>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="/src/only4WinTime.js"></script>
<script src="/src/main.js"></script>
</body>
</html>