<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Yantramanav:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/output.css">
</head>
<body class="min-h-screen flex flex-col">

<header-component></header-component>

<main class="max-w-2xl lg:max-w-7xl w-full mx-auto space-y-20 py-10 px-4 sm:px-6 lg:px-8 relative z-0 grow flex items-center justify-center">


</main>

<footer-component></footer-component>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="/src/only4WinTime.js"></script>
<script src="/src/main.js"></script>
</body>
</html>